$greyArea: #faf6fb;
$unActiveSlider: #e7d9eb;
$titleColor: #633991;
$unActiveTitle: #b5a4c8;
$subTitleColor: #998a9b;
$bigSubTitleColor: #e38cb7;
$whiteBackground: #fff;
$cardBorderColor: #f1eef1;
$cardTopBorderColor: #ce75b4;
$cardTextColor: #959094;
$downloadColor: #ffb8f6;
$mainColor: #f5378e;

$navColor: darkred;
$footerColor: #2d2d2d;

$trueAnswer: #0fe30ca3;
$falseAnswer: #f33f3f;
$uncheckedAnswer: rgb(100, 177, 204);
$scoreTitle: #FFFFFF;